<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SamsungFire.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
				<key>dateExpires</key>
				<string>17/10/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AbbyyRtrSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AbbyyZlib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CQClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CRToast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CustomAllocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FineMachineLearning.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FineObj.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GCDWebServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Image.Services.Core.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MobileImaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MobileScanLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MyAnySignMobile.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>384982B1614E4ADFDDFF6D07E117345A1259F7EC</string>
						<key>dateExpires</key>
						<string>17/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5NY9HHYM75.com.samsungfire.sfm.NotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>W8BVLM6TFM</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>5NY9HHYM75.com.samsungfire.sfm.NotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>cf21b172-ae56-4d52-ab81-eb229e260345</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8BVLM6TFM</string>
						<key>name</key>
						<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z6JKRDWGY3.com.samsungfire.sfm</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:vg987.app.goo.gl</string>
					<string>applinks:com.samsungfire.sfm</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>W8BVLM6TFM</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.samsungfire.sfm</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z6JKRDWGY3.com.samsungfire.sfm</string>
				</array>
			</dict>
			<key>name</key>
			<string>SamsungFire.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>620ed14f-9db4-4201-a210-517993213195</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.samsungfire.sfm</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W8BVLM6TFM</string>
				<key>name</key>
				<string>SAMSUNG FIRE &amp; MARINE INSURANCE Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
